@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@600&family=Playfair+Display:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

body{
    background-image: url(Skyline.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;

}


li, a, button{
    font-family: 'Brygada 1918', serif;
    font-weight: 500;
    font-size: 24px;
    color: rgb(14, 13, 13);
    text-decoration: none;
    
    display: flex;
    justify-content: space-between;
    align-items: top;

    position: relative;
    
        

}



/* <!-- HTML !-->
<button class="button-52" role="button">Button 52</button> */

/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid rgb(250, 249, 249);
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  z-index: 1;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: rgb(250, 250, 250);
  
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}



























header{
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 25px 5%;
    border: 25px;
    /* border-bottom: 25px; */
    /* overflow: hidden; */
    background-color: #000000;
     
    width: 100%;
    border-bottom: 4px ridge rgba(255, 255, 255, 0.925);
    height: 105px;



    /* background-color: rgba(0, 0, 0, 0.15);    */
    /* backdrop-filter: blur(5px); */

}



.logoname{
  margin-left: auto;
margin-right: auto;
display: block;
}

.logo{
    cursor: pointer;
    size: 45px;
    
margin-left: auto;
margin-right: auto;
display: block;

    border-radius: 50%;
    border: 2px solid #555;
    border-color: rgb(240, 239, 237);
    box-shadow: 0.5rem 0.5rem rgb(83, 74, 74), -0.5rem -0.5rem

    
    
    /* max-width: 50%;
    max-height: 50%; */

}


.navbuttons{
list-style: none;
margin: 0;
padding: 0;
padding-top: -15px;
} 

  .navbuttons li {
    display:  inline-block;
    padding: 0px 100px;


    
} 





.nav{
    
    background-color: rgba(255, 255, 255, .15);   
    backdrop-filter: blur(5px);
}


/* .logoimage {
    /* filter: drop-shadow(-10px 0px 5px rgba(255, 255, 255, 0.8)); */
    /* border: 5px white;
    padding: 1px;
    border-radius: 50%;
    
} */ */


em{
font-family: 'Brygada 1918', serif;
color: rgb(247,223,30);
}



.name {
    color:rgb(235, 230, 230);
    font-family: 'Brygada 1918', serif;
    font-size: 35px;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    /* white-space: ; */
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: 45px;
    width: 550px;
    text-align: center;
    
    
    
    width: 550px;
  }

  .name span{
    display: inline;
    /* padding: .25em 0; */
    padding: 0.25rem;
    margin: 0 -.25rem;
    /* background: rgb(247,223,30); */
    color: #ffffff;
    /* box-shadow: .5em 0 0 #FFC107, -.5em 0 0 #FFC107; */
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 0 0 0 0 rgb(247,223,30);
    margin-right: -10px;
    font-size: 30px;
  }

  .name span:hover{
    box-shadow: inset 600px 0 0 0 rgb(247,223,30);
    color: rgb(12, 11, 11);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

    
  }



.statement{
  color:rgb(235, 230, 230);
  font-family: 'Brygada 1918', serif;
  font-size: 25px;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  /* white-space: ; */
  overflow: hidden;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: auto;
  margin-left: auto;
  width: 550px;
  text-align: justify;

}




  h1 {
    color:rgb(235, 230, 230);
    font-family: 'Brygada 1918', serif;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
    
    width: 550px;
  }


  h2{
    font-family: 'Brygada 1918', serif;
    font-weight: 100;
    font-size: 30px;
  }
  
  h1 span {
    font-size: 40px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .message {
    background-color:rgb(247,223,30);
    color: #000000;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 270px;
    animation: openclose 5s ease-in-out infinite;
  }
  
  .word1, .word2, .word3 {
    font-family: 'Brygada 1918', serif;
  }
  
  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0.2rem;
      width: 230px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 235px;
    }
    62% {
      top: -4.5rem;
      width: 235px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 385px;
    }
    95% {
      top: -9rem;
      width: 385px;
    }
    98% {
      top: -9rem;
      width: 385;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }


  